/*------------- #SEO-SCORE --------------*/


.seo-score {
  background-color: $heading-color;
  position: relative;
  overflow: hidden;

  @media (max-width: 640px) {
    padding: 0px 0 0px;
  }

  @media (max-width: 460px) {
    padding: 0px 0 0px;
  }

  .wrapper {
    max-width: 600px; 
    text-align: center; 
    margin: 0 auto; 
    position: relative; 
    z-index: 5;
  }

  .video-control {
    margin-bottom: 40px; 
    display: block
  }

  .seo-score-content {
    z-index: 2;
    position: relative;
    padding: 100px 0 50px 0px;

    .heading {
      .heading-title {
        font-size: 36px; 
        color: #fff; 
        margin-bottom: 20px;
      }

      .heading-text {
        color: #acacac; 
        font-size: 18px
      }
    }

    .input-drop-shadow {
      input{
        -webkit-box-shadow: 25px 20px 20px -15px rgba(0, 0, 0, 0.3);
        box-shadow: 25px 20px 20px -15px rgba(0, 0, 0, 0.3);
      }
    }

    .seo-score-form {

      input {

        &.site {
          border-radius: 50px 0 0 50px;

          @media (max-width: 1024px) {
            border-radius: 50px;
            margin-bottom: 30px;
          }
        }

        &.e-mail {
          border-radius: 0 50px 50px 0;
          margin-left: 2px;

          @media (max-width: 1024px) {
            border-radius: 50px;
          }
        }
      }

      .no-padding {

        @media (max-width: 640px) {
          padding: 0 15px;
        }

      }

      button {
        margin-top: 30px;
      }
    }
  }

  .images {
    img {
      position: absolute;
      opacity: .2;
      top: 100px;
      left: 50%;
      transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      
    }
  }
}